---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=0ef76dfce991a828b682d2b9aa31b53b&exclude=alerts,minutely&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1646851022,"sunrise":1646832054,"sunset":1646874013,"temp":19.02,"feels_like":6.98,"pressure":1018,"humidity":70,"dew_point":11.75,"uvi":2.72,"clouds":100,"visibility":10000,"wind_speed":11.07,"wind_deg":13,"wind_gust":10.51,"weather":[{"id":600,"main":"Snow","description":"light
        snow","icon":"13d"}],"snow":{"1h":0.12}},"hourly":[{"dt":1646848800,"temp":19.85,"feels_like":8.6,"pressure":1018,"humidity":68,"dew_point":11.97,"uvi":2.72,"clouds":100,"visibility":10000,"wind_speed":10.11,"wind_deg":8,"wind_gust":10.04,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0.07},{"dt":1646852400,"temp":19.02,"feels_like":6.98,"pressure":1018,"humidity":70,"dew_point":11.75,"uvi":2.72,"clouds":100,"visibility":10000,"wind_speed":11.07,"wind_deg":13,"wind_gust":10.51,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0.27},{"dt":1646856000,"temp":20.01,"feels_like":8.02,"pressure":1018,"humidity":68,"dew_point":12.13,"uvi":2.49,"clouds":100,"visibility":10000,"wind_speed":11.41,"wind_deg":12,"wind_gust":11.43,"weather":[...]
