---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=0ef76dfce991a828b682d2b9aa31b53b&exclude=alerts,minutely&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1646785027,"sunrise":1646745748,"sunset":1646787550,"temp":37.26,"feels_like":31.24,"pressure":1013,"humidity":29,"dew_point":10.53,"uvi":0.18,"clouds":2,"visibility":10000,"wind_speed":8.01,"wind_deg":295,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"hourly":[{"dt":1646784000,"temp":37.26,"feels_like":33.78,"pressure":1013,"humidity":29,"dew_point":10.53,"uvi":0.18,"clouds":2,"visibility":10000,"wind_speed":4.38,"wind_deg":148,"wind_gust":6.08,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1646787600,"temp":36.03,"feels_like":32.52,"pressure":1013,"humidity":32,"dew_point":11.52,"uvi":0,"clouds":2,"visibility":10000,"wind_speed":4.21,"wind_deg":160,"wind_gust":4.14,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"pop":0},{"dt":1646791200,"temp":34.41,"feels_like":29.64,"pressure":1014,"humidity":37,"dew_point":13.15,"uvi":0,"clouds":1,"visibility":10000,"wind_speed":5.32,"wind_deg":172,"wind_gust":10.04,"weather":[{"id":800,"main":"Cle[...]
