---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/search/photos?client_id=rxilpEnP7vJ6p6onM19mdfPPcaZsOmtoeJ1d4LdJQsM&per_page=1&query=Denver,%20CO%20weather
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Unsplash-Version:
      - v1
      Warning:
      - The tags property in this endpoint is deprecated. https://changelog.unsplash.com/deprecations/2021/07/12/tags-search-deprecation.html
      Link:
      - <https://api.unsplash.com/search/photos?client_id=rxilpEnP7vJ6p6onM19mdfPPcaZsOmtoeJ1d4LdJQsM&page=10000&per_page=1&query=Denver%2C+CO+weather>;
        rel="last", <https://api.unsplash.com/search/photos?client_id=rxilpEnP7vJ6p6onM19mdfPPcaZsOmtoeJ1d4LdJQsM&page=2&per_page=1&query=Denver%2C+CO+weather>;
        rel="next"
      X-Total:
      - '10000'
      X-Per-Page:
      - '1'
      Content-Language:
      - en
      Etag:
      - W/"6fc688c0342a3a95319f5eac76cdcebc"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: '{"total":10000,"total_pages":10000,"results":[{"id":"yPqYUqu8uzQ","created_at":"2021-04-14T23:34:54-04:00","updated_at":"2022-03-08T01:20:22-05:00","promoted_at":null,"width":3712,"height":5568,"color":"#597373","blur_hash":"LVGu%a?GITNGv}RjbHoe01E2f+of","description":null,"alt_description":"blue
        and orange cloudy sky","urls":{"raw":"https://images.unsplash.com/photo-1618456724724-7d66e7a9ce96?ixid=MnwzMDc4NzF8MHwxfHNlYXJjaHwxfHxEZW52ZXIlMkMlMjBDTyUyMHdlYXRoZXJ8ZW58MHx8fHwxNjQ2NzU3NjI2\u0026ixlib=rb-1.2.1","full":"https://images.unsplash.com/photo-1618456724724-7d66e7a9ce96?crop=entropy\u0026cs=srgb\u0026fm=jpg\u0026ixid=MnwzMDc4NzF8MHwxfHNlYXJjaHwxfHxEZW52ZXIlMkMlMjBDTyUyMHdlYXRoZXJ8ZW58MHx8fHwxNjQ2NzU3NjI2\u0026ixlib=rb-1.2.1\u0026q=85","regular":"https://images.unsplash.com/photo-1618456724724-7d66e7a9ce96?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwzMDc4NzF8MHwxfHNlYXJjaHwxfHxEZW52ZXIlMkMlMjBDTyUyMHdlYXRoZXJ8ZW58MHx8fHwxNjQ2NzU3NjI2\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=1080","small":"https://images.unsplash.com/photo-1618456724724-7d66e7a9ce96?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwzMDc4NzF8MHwxfHNlYXJjaHwxfHxEZW52ZXIlMkMlMjBDTyUyMHdlYXRoZXJ8ZW58MHx8fHwxNjQ2NzU3NjI2\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=400","thumb":"https://images.unsplash.com/photo-1618456724724-7d66e7a9ce96?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwzMDc4NzF8MHwxfHNlYXJjaHwxfHxEZW52ZXIlMkMlMjBDTyUyMHdlYXRoZXJ8ZW58MHx8fHwxNjQ2NzU3NjI2\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=200","small_s3":"https://s3.us-west-2.amazonaws.com/images.unsplash.com/small/photo-1618456724724-7d66e7a9ce96"},"links":{"self":"https://api.unsplash.com/photos/yPqYUqu8uzQ","html":"https://unsplash.com/photos/yPqYUqu8uzQ","download":"https://unsplash.com/photos/yPqYUqu8uzQ/download?ixid=MnwzMDc4NzF8MHwxfHNlYXJjaHwxfHxEZW52ZXIlMkMlMjBDTyUyMHdlYXRoZXJ8ZW58MHx8fHwxNjQ2NzU3NjI2","download_location":"https://api.unsplash.com/photos/yPqYUqu8uzQ/download?ixid=MnwzMDc4NzF8MHwxfHNlYXJjaHwxfHxEZW52ZXIlMkMlMjBDTyUyMHdlYXRoZXJ8ZW58MHx8fHwxNjQ2NzU3NjI2"},"categories":[],"likes":10,"liked_by_user":false,"current_user_collections":[],"sponsorship":null,"topic_submissions":{},"user":{"id":"B1TepQxEajg","updated_at":"2022-03-08T10:50:00-05:00","username":"onthesearchforpineapples","name":"Colin
        Lloyd","first_name":"Colin","last_name":"Lloyd","twitter_username":"otsfpineapples","portfolio_url":"https://cplloyd95.wixsite.com/otsfp","bio":null,"location":"Denver,
        Colorado","links":{"self":"https://api.unsplash.com/users/onthesearchforpineapples","html":"https://unsplash.com/@onthesearchforpineapples","photos":"https://api.unsplash.com/users/onthesearchforpineapples/photos","likes":"https://api.unsplash.com/users/onthesearchforpineapples/likes","portfolio":"https://api.unsplash.com/users/onthesearchforpineapples/portfolio","following":"https://api.unsplash.com/users/onthesearchforpineapples/following","followers":"https://api.unsplash.com/users/onthesearchforpineapples/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1616687073587-63950dc1079cimage?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=32\u0026w=32","medium":"https://images.unsplash.com/profile-1616687073587-63950dc1079cimage?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=64\u0026w=64","large":"https://images.unsplash.com/profile-1616687073587-63950dc1079cimage?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=128\u0026w=128"},"instagram_username":"onthesearchforpineapples","total_collections":0,"total_likes":92,"total_photos":940,"accepted_tos":true,"for_hire":true,"social":{"instagram_username":"onthesearchforpineapples","portfolio_url":"https://cplloyd95.wixsite.com/otsfp","twitter_username":"otsfpineapples","paypal_email":null}},"tags":[{"type":"search","title":"denver"},{"type":"search","title":"co"},{"type":"search","title":"usa"}]}]}'
  recorded_at: Wed, 09 Mar 2022 00:17:06 GMT
recorded_with: VCR 6.0.0
